<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:with="UrlConsts=${T(jp.co.jwebgate.jlibrary.consts.UrlConsts)}">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- BootStrapのCSSの読み込み -->
    <link href="/bootstrap-5.3.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQueryの読み込み -->
    <script src="/jquery-3.7.1/jquery-3.7.1.min.js"></script>
    <!-- BootStrapのJSの読み込み -->
    <script src="/bootstrap-5.3.0-dist/js/bootstrap.min.js"></script>
    <title>ログイン</title>
  </head>
  
  <body>
    <section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-secondary text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-2">
                  <div class="pb-4">
                    <a th:href="@{${UrlConsts.REGISTER_STAFF_USER}}" class="text-white-50 fw-bold text-decoration-none">新規登録</a>
                  </div>
                  <h1 class="fw-bold mb-2 bg-light text-muted text-uppercase border border-2 border-dark rounded-pill mb-5">ログインページ</h1>
                  <div class="bg-white w-75 container">
                    <p th:if="${param.error}" class="error" style="color:#ff8888;">ユーザー名またはパスワードが違います。</p>
                  </div>

                  <form class="form" th:action="@{${UrlConsts.LOGIN}}" th:method="POST">
                    <div class="form-outline form-white mb-4">
                      <label for="loginId">ログインID</label>
                      <input type="text" name="username" class="form-control form-control-lg">
                    </div>
                    <div class="form-outline form-white mb-4">
                      <label for="password">パスワード</label>
                      <input type="password" name="password" class="form-control form-control-lg">
                    </div>
                    <div>
                      <button type="submit" class="btn btn-outline-light btn-lg px-5">ログイン</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  </body>
</html>